numpy==1.19.4
Keras==2.3.1
pandas==1.0.3
jieba==0.42.1
matplotlib==3.1.1
scipy==1.3.1
adrest==3.3.2
gensim==4.0.1
psyco==1.6
pyecharts==1.9.0
PyYAML==5.4.1
scikit_learn==0.24.2
smart_open==5.1.0
snapshot_selenium==0.0.2
snownlp==0.12.3
wordcloud==1.8.1
zhtools==0.0.7
